*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.products {
    padding: 30px 40px ;
    width: 100%;
}

.products h2 {
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    color: #010f1c;
}

.products p {
    margin-top: 20px;
    color: #9a9a9a;
}
.products .container {
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;

}

.products .container .filter {
    padding: 20px 30px;

}
.products .container .filter .catagories h3 {
    color:#010f1c;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.products .container .filter .catagories ul {
    margin-top: 10px;
}
.products .container .filter .catagories ul li {
    list-style: none;
    margin-top:20px ;
    color: #010f1c;
    cursor: pointer;

}
.products .container .productbox {
    margin-right: 0%;
}
.products .container .productbox .contant {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products .container .productbox .contant .box {
    padding: 10px 20px;
    width: 300px;
    height: 390px;
    overflow: hidden;
    border: 1px solid #e2e0e0;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 10px;
}
.products .container .productbox .contant .box:hover  {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24)0 3px 8px;
    transition: 0.4s ease-in-out;
    cursor: pointer;

}
.products .container .productbox .contant .box .img-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e0e0;
}
.products .container .productbox .contant .box .img-box img {
    width: 250px;
    height: 250px;
}

.products .container .productbox .contant .box .img-box:hover .icon {

    transform: translateX(-65px);
}


.products .container .productbox .contant .box .img-box .icon {
    z-index: 1;
    position: relative;
    right: -50px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ;
}

.products .container .productbox .contant .box .img-box .icon li {
    list-style: none;
    padding: 10px 10px;
    border-bottom: 1px solid #9a9a9a;
    color: #010f1c;
    cursor: pointer;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24)0 3px 8px;
    font-size: 20px;
}
.products .container .productbox .contant .box .img-box .icon li:hover {

    background-color: #0989ff;
color: #fff;
transition: 0.3s ease-in-out;
}

.products .container .productbox .contant .box .details {
    margin-top: 10px;
}
.products .container .productbox .contant .box .details {
    font-size: 16px;
    margin-top: 5px;
    color: #010f1c;
    transition: 0.5s;
}

.products .container .productbox .contant .box:hover .details h3 {
    color: #0989ff;
    transition: 0.3s ease-in-out;
}

.products .container .productbox .contant .box .details h4 {
    margin-top: 5px ;
    font-size: 14px;
    color: #0989ff;
    letter-spacing: 1px;
}
/*prodct detai*/

.product-detail {
    /* margin-top: 30px; */
    padding: 30px 40px;
    width: 100%;
    height: 120%;
    margin-top: -20%;
    position: fixed;
    background: rgba(0, 0, 0, 0.24);
    z-index: 1;
}

.product-detail .container {
    margin-top: 20%;
    margin-left: 23%;
    width: 1000px;
    height: 550px;
    background-color: #fff ;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24)0 3px 8px;
}

.product-detail .container .close-btn {
    margin-left: 100%;
    border: none;
    outline: none;
    background:none;
    font-size: 22px;
    cursor: pointer;
}

.product-detail .container .product-box {
    max-width: 100%;
    display: flex;
    padding: 20px 30px;
    margin-top: 20px;
    justify-content: space-between;
}

.product-detail .container .product-box .img-box {
        width: 400px;
        padding: 20px 30px;
        height: 300px;
        background-color: #f1f1f1;
        border-radius: 10px;
}

.product-detail .container .product-box .img-box img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.product-detail .container .product-box .detail {
    margin-left: 30px;
    margin-top: 10px;
}

.product-detail .container .product-box .detail h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    color: #9a9a9a;
    letter-spacing: 1px;
}
.product-detail .container .product-box .detail h2 {
    margin-top: 20px;
    font-size: 32px;
    color: #010f1c;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.product-detail .container .product-box .detail p {
    margin-top: 10px;
    color: #9a9a9a;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.product-detail .container .product-box .detail h3 {
    margin-top: 10px;
    color: #010f1c;
    font-size: 32px;
    letter-spacing: 1px;
}

.product-detail .container .product-box .detail button {
    margin-top: 10px;
    padding: 15px 60px;
    font-size: 16px;
    color: #fff;
    background:#010f1c;
    transition: 0.3s ease-in-out;
    border: none;
    outline: none;
    cursor: pointer;
}
.product-detail .container .product-box .detail button:hover{
    background-color: #0989ff;
}