*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.contact-container {
    padding: 30px 40px;
    width: 100%;
    background-color: #f6f6f6;
}

.contact-container .content {
    padding: 10px 20px;
}

.contact-container .content h2 
{
    text-transform: uppercase;
    font-size: 32px;
    color: #010f1c;
}

.contact-container .content .form {
    padding: 20px 30px;
    background: #fff;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px; 
}

.contact-container .content .form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container .content .form form input {
    padding: 10px 30px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #010f1c;
    width: 350px;
    margin-top: 20px;
    align-items: center;
}

.contact-container .content .form form textarea {
    padding: 10px 30px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #010f1c;
    max-width: 350px;
    margin-top: 20px;
    resize: none;
}

.contact-container .content .form form button{
    margin-top: 30px;
    width: 100px;
    padding: 10px 0;
    border: none;
    outline: none;
    background: none;
    background: #010f1c;
    color: #fff;
    cursor: pointer;
}

.contact-container .content .form form button:hover {
    background-color: #0989ff;
    color:#fff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}